<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@300;400&family=Pacifico&display=swap" rel="stylesheet">
    <title>Intelligent Tutoring System</title>
</head>
<body>
    <div class="header">
        <div class="subH">
        <H2 class="oneH">Intelligent Tutoring System</H2>
        <div class="twoH">(Ask What You Want)</div>
    </div>    
    </div>
<div class="mainC">

    <%= answr %>

</div>
    
<form method="post" class="frm">
    <input type="text" class="inpt" name="writehere" placeholder="Enter Your query">
</form>

</body>
</html>